<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crochetmania-Moda Hombre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="../../img/favicon.png">
    <!--  fin favicon -->
    <link rel="stylesheet" href="../../css/Pre-loader.css">
    <link rel="stylesheet" href="../../css/reponsive.css">
    <link rel="stylesheet" href="../../css/videos.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../js/scroll.js"></script>
    <script src="../../js/pre-loader.js"></script>
    <script src="../../js/sesion.js"></script>
    <script src="../../js/aside.js"></script>
    <script src="../../js/buscador.js"></script>
    <script src="../../js/colapsar.js"></script>
    <script src="../../js/cookies.js"></script>
</head>

<body>
    <!-- div de carga del PRE-LOADER -->
    <div class="pre-loader"></div>

    <!-- DIV CONTENEDOR DE TODO -->
    <div class="container">
        <!-- ASIDE -->
        <%- include('../../partials/aside.ejs') %>
        
        <!-- NAVBAR SUPERIOR -->
         
        <%- include('../../partials/nav_sup.ejs') %>
         
        <!-- Código de cookies -->
        <%- include('../../partials/cookies.ejs') %>
         
        <!-- HEADER --->
        <header><div id="logo_header"></div></header>
 
        <!-- BUSCADOR DE GOOGLE  https://programmablesearchengine.google.com/controlpanel/all-->
        <%- include('../../partials/buscador.ejs') %>
         
        <!-- NAVBAR PRINCIPAL -->
        <%- include('../../partials/nav_inf.ejs') %>

        <!-- CONTENIDO PRINCIPAL -->
        <main class="col-m-12">
            <section class="col-m-8 contenedor_videos">

                <!-- Suéter -->
                <h2 id="sueter">Suéter</h2>
                <div class="separador"></div>
                <iframe width="960" height="540" src="https://www.youtube.com/embed/E7A3YkvdLLw"
                    title="Tutorial Suéter para hombre Crochet | Ganchillo" frameborder="0"></iframe>

                <!-- Chaleco con capucha -->
                <h2 id="chaleco">Chaleco con capucha</h2>
                <div class="separador"></div>
                <iframe width="960" height="540" src="https://www.youtube.com/embed/rzwNjmhKjXQ"
                    title="Tutorial Chaleco con capucha para hombre Crochet | Ganchillo" frameborder="0"></iframe>

                <!-- Suéter o chaleco -->
                <h2 id="sue_cha">Suéter o chaleco</h2>
                <div class="separador"></div>
                <iframe width="960" height="540" src="https://www.youtube.com/embed/qQeUOCbiKWs"
                    title="Tutorial Suetes o chaleco para hombre Crochet | Ganchillo" frameborder="0"></iframe>

                <!-- Suéter -->
                <h2 id="sueter1">Suéter</h2>
                <div class="separador"></div>
                <iframe width="960" height="540" src="https://www.youtube.com/embed/TaXaBK_s8aQ"
                    title="Tutorial Sueter para hombre Crochet | Ganchillo" frameborder="0"></iframe>


            </section>


        </main>

        <!-- FOOTER  + SCROLL-->
        <%- include('../../partials/footer.ejs') %>
        
</body>

</html>