<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crochetmania-Moda</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="../img/favicon.png">
    <!--  fin favicon -->
    <link rel="stylesheet" href="../css/Pre-loader.css">
    <link rel="stylesheet" href="../css/reponsive.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/slideshow.css">
    <script src="../js/pre-loader.js"></script>
    <script src="../js/sesion.js"></script>
    <script src="../js/slide.js"></script>
    <script src="../js/scroll.js"></script>
    <script src="../js/aside.js"></script>
    <script src="../js/buscador.js"></script>
    <script src="../js/cookies.js"></script>
    <script src="../js/colapsar.js"></script>
</head>

<body>

    <!-- div de carga del PRE-LOADER -->
    <div class="pre-loader"></div>

    <!-- DIV CONTENEDOR DE TODO -->
    <div class="container">
        <!-- ASIDE -->
        <%- include('../partials/aside.ejs') %>
        
        <!-- NAVBAR SUPERIOR -->
         
        <%- include('../partials/nav_sup.ejs') %>
         
        <!-- Código de cookies -->
        <%- include('../partials/cookies.ejs') %>
         
        <!-- HEADER --->
        <header><div id="logo_header"></div></header>
 
        <!-- BUSCADOR DE GOOGLE  https://programmablesearchengine.google.com/controlpanel/all-->
        <%- include('../partials/buscador.ejs') %>
         
        <!-- NAVBAR PRINCIPAL -->
        <%- include('../partials/nav_inf.ejs') %>

        <!-- CONTENIDO PRINCIPAL -->
        <main class="col-m-12">
            <section class="col-m-8">

                <div class="slide-container col-m-8">
                    <div class="slider dia">
                        <img src="../img/conjuno-bebe.jpg">
                        <div class="text"></div>
                    </div>
                    <div class="slider dia">
                        <img src="../img/chaqueta-rosa.jpg">
                        <div class="text"></div>
                    </div>
                    <div class="slider dia">
                        <img src="../img/top.jpg">
                        <div class="text"></div>
                    </div>
                    <div class="slider dia">
                        <img src="../img/vestido1.jpg">
                        <div class="text"></div>
                    </div>

                    <div class="slider dia">
                        <img src="../img/hombre2.jpg">
                        <div class="text"></div>
                    </div>

                    <div class="slider dia">
                        <img src="../img/abrigo-chaqueton.jpg">
                        <div class="text"></div>
                    </div>

                </div>
                <!-- Fin slider -->

                <div class="separador"></div>

                <div class="enlaces_comp col-m-12">
                    <button class="btn"><a href="/hombre">Hombre</a></button>
                    <button class="btn"><a href="/mujer">Mujer</a></button>
                    <button class="btn"><a href="/ninyos">Niños</a></button>
                    <button class="btn"><a href="/bebes">Bebés</a></button>
                    <button class="btn"><a href="/disfraces">Disfraces</a></button>
                </div>

            </section>


        </main>
        <!-- FOOTER  + SCROLL-->
        <%- include('../partials/footer.ejs') %>
        
</body>

</html>