<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crochetmania-Blog-Qué aguja escoger</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="../../img/favicon.png">
    <!--  fin favicon -->

    <link rel="stylesheet" href="../../css/Pre-loader.css">
    <link rel="stylesheet" href="../../css/reponsive.css">
    <link rel="stylesheet" href="../../css/blog.css">
    <link rel="stylesheet" href="../../css/videos.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/comentarios.css">
    <script type= "module" src="../../js/blog.js"></script>
    <script src="../../js/scroll.js"></script>
    <script src="../../js/pre-loader.js"></script>
    
    <script src="../../js/aside.js"></script>
    <script src="../../js/buscador.js"></script>
    <script src="../../js/colapsar.js"></script>
    <script src="../../js/cookies.js"></script>


</head>

<body>
    <!-- div de carga del PRE-LOADER -->
    <div class="pre-loader"></div>

    <!-- DIV CONTENEDOR DE TODO -->
    <div class="container">
        <!-- ASIDE -->
        <%- include('../../partials/aside.ejs') %>
        
        <!-- NAVBAR SUPERIOR -->
         
        <%- include('../../partials/nav_sup.ejs') %>
         
        <!-- Código de cookies -->
        <%- include('../../partials/cookies.ejs') %>
         
        <!-- HEADER --->
        <header><div id="logo_header"></div></header>
 
        <!-- BUSCADOR DE GOOGLE  https://programmablesearchengine.google.com/controlpanel/all-->
        <%- include('../../partials/buscador.ejs') %>
         
        <!-- NAVBAR PRINCIPAL -->
        <%- include('../../partials/nav_inf.ejs') %>

        <!-- CONTENIDO PRINCIPAL -->
        <main class="col-m-12">
            <section class="col-m-8 contenedor_videos">
                <article>

                    <img class="imagen-post" src="../../img/agujas1.jpg" alt="agujas">
                    <h1 class="post-titulo">Qué aguja escoger</h2>
                    <span style="width: 100%;text-align: center;" class="post-fecha">5 de octubre de 2021 </span>
                    <h2>Como elegir la aguja adecuada para los amigurumi</h2>
                    <p class="parrafo">DIY con trucos para saber como elegir la aguja adecuada para tejer tus amigurumi sin que se queden esos agujeros que no quedan nada estéticos. No elegir la aguja correcta es un fallo muy común, sobre todo en principiantes.</p>
                    
                    <iframe width="960" height="540" src="https://www.youtube.com/embed/EvkYgTJK31c" title="Tutorial Qué aguja escoger Amigurumi Crochet | Ganchillo" frameborder="0"></iframe>

                    <!-- Iconos redes sociales -->
                    <div class="iconos-social">
                        <ul>
                            <li>
                                <a class="linkedin-share" target="_blank" href="http://www.linkedin.com/shareArticle?url=http://localhost/wordpress/que-aguja-escoger/&amp;title=Qué%20aguja%20escoger">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a class="twitter-share" target="_blank" href="https://twitter.com/intent/tweet?url=http://localhost/wordpress/que-aguja-escoger/">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="facebook-share" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://localhost/wordpress/que-aguja-escoger/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <!-- FORMULARIO COMENTARIOS -->

                <%- include('../../partials/form_comentarios.ejs') %>
                
            </section>
        </main>

        <!-- FOOTER  + SCROLL-->
        <%- include('../../partials/footer.ejs') %>

</body>

</html>